.button_container {
  display: flex;
  justify-content: flex-start;
  width: 502px;
  height: 50px;
  label {
    width: 100%;
    color: #4a4a4a;
    font-size: 12px;
    font-weight: 600;
    padding: 17px 20px 0 20px;
    text-transform: uppercase;
    background-color: #fff;
  }
  label:hover {
    color: #fff;
    background-color: #2196f3;
    opacity: 0.5;
    cursor: pointer;
  }
  .active {
    color: #fff;
    background-color: #2196f3;
  }
  .inexp {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .fast {
    border-left: 1px solid #dfe5ec;
  }
  .optimal {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid #dfe5ec;
  }
}
